.account-container {
  background-color: #f0f0f0;
  font: "firago" !important;
  color: #555555 !important;
  padding-bottom: 3rem;
}

.user-profile {
  position: relative;
  max-width: 80rem;
  max-height: initial;
  margin: 0px auto;
}

.profile-cover-container {
  height: 5rem;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
}

.user-info {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: 2.5rem;
  padding: 0px 1.7rem;
  -webkit-box-align: center;
  align-items: center;
}

.user {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
}

.user p {
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 1.8rem;
  font-weight: bold;
  margin-left: 1rem;
}

.user-background {
  object-fit: cover;
  width: 100%;
  width: 100%;
  height: initial;
  position: fixed;
  z-index: -1;
  right: 0;
  top: 0;
  left: 0;
  max-width: 100%;
  object-fit: cover;
}

.user .far.fa-user-circle {
  color: #fff;
  font-size: 90px;
}

.saved-restaurants {
  padding: 0px 1.5rem;
  height: min-content;
  border-right: 1px solid rgba(255, 255, 255, 0.9);
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  border-left: 1px solid rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  position: relative;
}

.number {
  font-size: 2rem;
}

.user-info-box {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.info-box-menu {
  position: relative;
  width: 100%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0 20px 0 0;
}

.info-box-menu-item {
  margin-bottom: 1rem;
  border: 1px solid rgb(231, 231, 231);
  padding: 10px 0;
  background-color: #fff;
}

.menu-item-header {
  line-height: 1.2;
  font-weight: 300;
  margin: 0px;
  margin-block-end: 0px;
  color: rgb(130, 130, 130);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 1rem 2rem;
}
.menu-item-header.content {
  font-size: 1.3rem;
  padding: 2rem 1rem 0rem 1rem;
  color: #000000;
  font-weight: bold;
  letter-spacing: 0.2rem;
  font-weight: 300;
}

.menu-item-options {
  position: relative;
  display: flex;
  flex-direction: column;
}

.menu-item-option {
  top: 0px;
  width: 100%;
  height: 4rem;
}

.menu-item-option.clicked {
  border-left: 3px solid #555555;
  transform: translateY(0%);
  transition: opacity 0.5s ease 0s, transform 0.5s ease 0s;
  color: #000;
  z-index: 0;
}
.menu-item-option:hover {
  color: #333;
}

.user-info-content {
  position: relative;
  width: 100%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  height: fit-content !important;
  flex-shrink: 0;
  max-width: 75.6667%;
  padding: 0px 0px 0px 10px;
  background-color: #fff;
  margin: 0px 0px 20px 0px;
  border: 1px solid rgb(231, 231, 231);
  background-color: #fff;
}

.user-info-content.scroll {
  height: 640px;
  overflow: hidden;
  overflow-y: scroll;
}

.user-info-box-container {
  display: flex;
  flex-direction: row;
  position: relative;
  max-width: 80rem;
  max-height: initial;
  margin: 0px auto;
}
.menu-item-options span {
  line-height: 1;
  margin: 0px;
  font-weight: 500;
  display: flex;
  cursor: pointer;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  align-items: baseline;
  z-index: 2;
  text-align: center;
  align-items: center;
  padding: 19px 20px;
}

.change-password,
.delete-account,
.update-username {
  max-width: 450px;
  margin: 1rem 2rem 2rem 2rem;
}

.user-info-content.orders {
  padding: 0 !important;
}

.input-field {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #555555;
}

.input-description {
  margin: -6px 0 3px;
  display: block;
  color: #999 !important;
  font-size: 12px;
  line-height: 1.5em;
  font-weight: normal;
}

.current_password {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  *width: 90%;
  margin: 0 0 18px;
  padding: 5px 9px;
  background: #fff;
  border: 1px solid #999;
  font-size: 14px;
  line-height: 1.28571em;
  line-height: 1.29em;
}
