.footer-container {
  display: flex;
  background-color: #fff;
   box-shadow: 0px -2px 2px 0px rgb(0 0 0 / 10%), 0px -2px 2px 0px rgb(0 0 0 / 6%), 0px -2px 2px 0px rgb(0 0 0 / 7%);
}
.footer-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.footer-desc {
  margin: 20px 0px;
}

.footer-social-container{
  display: flex;
}

.footer-social-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.footer-center {
  flex: 1;
  padding: 20px;
}

.footer-title {
  margin-bottom: 30px;
}

.footer-link-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.footer-link {
  width: 50%;
  margin-bottom: 10px;
  color: #555555 !important;
}

.footer-right-content-wrapper {
  flex: 1;
  padding: 20px;
}

.footer-contact-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .footer-center{
    display: none;
  }
  .footer-container{
    display: flex;
    flex-direction: column;
  }
}
