body {
    background-color:#fff;
}

.coffee-hero-container {
    width: 100%;
    margin-bottom: 2rem;
}

.coffee-cards-container{
    margin: 2rem;
}

.coffee-cards-header {
    display: flex;
    flex-direction: row;
}

.sort {
    position: absolute !important;
    right: 2vmax;
    margin-right: 2vmax;
    margin-top: 1rem;
    width: 170px;
    font-size: 14px;
    justify-self: end !important;
    font-family: 'firago' !important;
    color:#555555 !important
}

.sort .css-1353rn1-control, .sort .css-z21ypx-control {
    border-radius: 5px !important;
    height: 5px !important;
}
.coffee-cards-header h1 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}