.progress {
    height: 4px;
    display: flex;
    overflow: hidden;
    background-color: #e9ecef;
    border-radius: 10px;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #0d6efd;
    transition: width .6s ease;

}

.progress p {
    font-size:12px !important;
}